<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Scrounge Logo" class="logo">
    <p>Logged in as <strong>{{ session['username'] }}</strong> <a href="/logout" class="button small">Logout</a></p>
    <h1>Recipe Book</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="menu">
        {% if recipes %}
            <ul>
                {% for recipe in recipes %}
                    <li>
                        <h2>{{ recipe.name }} ({{ recipe.cuisine }})</h2>
                        <h3>Ingredients:</h3>
                        <ul>
                            {% for ing in recipe.ingredients %}
                                <li>{{ ing.name }} - {{ ing.measure }}</li>
                            {% endfor %}
                        </ul>
                        <h3>Instructions:</h3>
                        <p>{{ recipe.instructions }}</p>
                        <a href="/remove_recipe/{{ recipe.id }}" class="button small">Remove Recipe</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No saved recipes.</p>
        {% endif %}
        <br>
        <a href="/" class="button">Back</a>
    </div>
</body>
</html>